#whatsapp-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

#whatsapp-floating .textcard {
    background-color: white;
    padding: 6px 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#whatsapp-floating span {
    font-size: 11px;
    color: #333;
}

#whatsapp-floating .bold-text {
    font-weight: bold;
}

#whatsapp-floating img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s;
}

#whatsapp-floating img:hover {
    transform: scale(1.1);
}

.navbar-brand img.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    margin-right: 10px;

}

.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 2px 15px rgba(74, 144, 226, 0.2);
}

.navbar-brand {
    font-weight: 700;
    color: white !important;
}

.navbar-nav .nav-link {
    color: white;

}

.navbar-nav .nav-link:hover {
    color: red;

}

/* Social media icons */
.navbar-nav .nav-link i {
    font-size: 18px;
    margin-left: 10px;
    color: white;
}

.navbar-nav .nav-link i:hover {
    color: #25d366;

}